body {
    background: linear-gradient(to right, aquamarine, rgb(220, 157, 249), rgb(246, 118, 203));
}
video {
    text-align: center;
}
img {
    background-color: antiquewhite;
}
h1 {
    font-size: 70px;
    text-align: center;
    background-color: antiquewhite;
    border: 3px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -10px;
}
h2 { 
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 1px white;
}
li {
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
    background-color: antiquewhite;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin-right: 25%;
    margin-left: 25%
}
.vidandimg{
    text-align: center;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-right: 13%;
    margin-left: 13%

}